
<!-- <div class="notebook-view">
  <div class="col-md-2 note-book-navigation">
    <%= render partial: 'shared/child', locals: { child: @notebook }  %>
  </div>
  <div class="col-md-10 ">

  </div>
</div>
 -->
<base href="/notebooks/">   </base>
<div class="notebook" ng-app="notebookApp">
  <ui-view></ui-view>
</div>
