<div class="notebook-view">
  <div class="col-md-2 note-book-navigation">
    <%= render partial: 'shared/child', locals: { child: @notebook }  %>
  </div>
  <div class="col-md-10 ">
    <%= render partial: 'shared/notes', locals: { child: @notebook }  %>
  </div>
</div>
