<div>
  {{object.name}}
  <ul ng-if="object.children.length > 0">
    <li ng-repeat="child in object.children">
      <!-- <directory-entry object="child"> </directory-entry> -->
      <p>{{child.name}}</p>
      <ul ng-if="child.children.length > 0">
        <li ng-repeat="child in child.children">
          {{child.name}}
          <ul ng-if="child.children.length > 0">
            <li ng-repeat="child in child.children">
              {{child.name}}
              <ul ng-if="child.children.length > 0">
                <li ng-repeat="child in child.children">
                  {{child.name}}
                  <ul ng-if="child.children.length > 0">
                    <li ng-repeat="child in child.children">
                      {{child.name}}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
