<div class="notePostContainer" ng-mouseenter="showTopBarNow()" ng-mouseleave="showTopBarNow()" ng-click="$event.stopImmediatePropagation()">
  <div class="full-span top-bar">
    <div class="note-remover text-right" ng-show="showTopBar">
      <a href ng-click="showPannel()" style="color: #0000FF">T</a>
      <a href class="resize-bar" style="color: #0000FF">--</a>
      &nbsp;
      <span ng-click="removeNote($event)" style="color: #FF0000">X</span>
    </div>
  </div>

  <div ng-show="!showPanelCheck" contentEditable="true" class="body-container full-span" ng-focus="setFocus()" ng-bind-html="bod"></div>

  <div ng-show="showPanelCheck">

    <label for="thCount">
      TH Count
      <input name="thCount" type="number" ng-model="thCount">
    </label>

    <label for="trCount">
      TR Count
      <input name="trCount" type="number" ng-model="trCount">
    </label>
    <input type="submit" ng-click="insertTable()">
  </div>
</div>
