<div class="container" >

  <div class="row bookshelf">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <h1 class="text-center">
        Shelves
      </h1>
      <div class="row col-md-12 individual-shelf" ng-repeat="shelf in indexCtrl.shelves">
        <div class="text-center binder-row row col-md-12">
          <div class="row text-center col-md-2 binder binder-on-shelf" ng-repeat="binder in shelf.binders">
            {{binder.name}}
          </div>
        </div>
        <div class="text-center shelf-name row col-md-12">
          <h4>
            {{shelf.name}}
          </h4>
        </div>
      </div>
    </div>
  </div>

</div>
