<div class="container" >

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <h3 class="text-center">
        Shelves
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Binder
            </th>
            <th>
              Description
            </th>
            <th>
              Status Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="binder in indexCtrl.binders">
            <td >
              <a href="#" ui-sref="binder({id: notbook.id, binder_id: 1})">{{binder.name}}</a>
            </td>
            <td>
              {{binder.description}}
            </td>
            <td>
              <status-action binder-status="binder.active">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
