<div class="container">

  <div class="row bookshelf">
    <div class="col-md-12">
      <h1 class="text-center">
        Shelves
        <span class="pull-right pointer-me" ng-click="indexCtrl.addShelf()">
          +
        </span>
      </h1>
      <div class="row col-md-12 individual-shelf" ng-repeat="shelf in indexCtrl.shelves">
        <div class="text-center binder-row row col-md-12">
          <div class="row text-center col-md-1 binder binder-on-shelf pointer-me" ng-repeat="binder in shelf.binders" style="background-color:#{{binder.color_hex}}" ui-sref="notebook({shelfi: shelf.id, binderi: binder.id, id: binder.notebooks[0].id})" >
            <div class="color-top-bar">
              <span class="pull-right" ng-click="indexCtrl.changeColor(binder, $event)">*</span>
            </div>
            <p>
              <textarea type="text" ng-model="binder.name" ng-change="indexCtrl.saveBinder(binder)" ng-click="$event.stopPropagation()">
              </textarea>
            </p>
          </div>
        </div>
        <div class="text-center shelf-name row col-md-12">
          <h4>
            <input type="text" ng-model="shelf.name" ng-change="indexCtrl.saveShelf(shelf)">
            <span class="pull-right pointer-me" ng-click="indexCtrl.addBinder(shelf)">
              +
            </span>
          </h4>
        </div>
      </div>
    </div>
  </div>

</div>
