<div class="container-fluid show-notebook-tempate">
  <div class="row">
    <div class="row col-md-12 tab-bar">
      <div class="col-md-3">
        <h3>
          {{showCtrl.shelf.name}}:{{showCtrl.binder.name}}
        </h3>
      </div>
      <cross-top-tabs></cross-top-tabs>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 directory-tree-sidebar">
      <directory-tree></directory-tree>
    </div>
    <div class="col-md-8">
      <div class="row col-md-12">
        <h3>
          <input type="text" ng-model="showCtrl.currentDivider.name" ng-change="showCtrl.updateDivider(showCtrl.currentDivider)" ng-model-options="{debounce: 500}">
        </h3>
      </div>
      <div class="row col-md-12">
        <note-area notes="showCtrl.currentDivider.notes" divider-id="showCtrl.currentDivider.id"> </note-area>
      </div>
    </div>
  </div>

</div>
