<header class="col-xs-12">
  <h3 class="col-md-2 qm-title text-center">
    <a href="<%= root_path%>">QM</a>
  </h3>
  <div class="col-md-6">
  </div>
  <div class="col-md-4">
    <div class="dropdown-list">
      <span><a href="<%= shelves_path %>">Shelves</a></span>
      <span><a href="<%= gifs_path %>">Clipboard</a></span>
      <span><a href="#">Api Blaster</a></span>
      <span><a href="#">Dojo</a></span>
    </div>
</header>
